<div class="small-container center-block">
  <h1 class="display-4">Contact</h1>


  <p class="h5">Escribrenos contac@proyecto_bernardo.com</p>
  <p>
    Agradeceriamos mucho tus sigerrencias para actualizaciones futuras.
  </p>
